MobileCenterUY/MobileCenterUY/MobileCenterUY.Android/bin/
MobileCenterUY/MobileCenterUY/MobileCenterUY.Android/obj/
MobileCenterUY/MobileCenterUY/MobileCenterUY.iOS/obj/
MobileCenterUY/MobileCenterUY/MobileCenterUY/bin/
MobileCenterUY/MobileCenterUY/MobileCenterUY/obj/
MobileCenterUY/packages/
